<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.assignments">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Assignments">
        <activity
            android:name=".menus.popupmenu.PopupMenu"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".menus.MyMenuTwo"
            android:exported="true">
        </activity>
        <activity
            android:name=".menus.MyMenu"
            android:exported="true"></activity>
        <activity
            android:name=".mydialogs.DateDifference"
            android:exported="true" />
        <activity
            android:name=".toolbarwithsearch.MyToolbar"
            android:exported="false" />
        <activity
            android:name=".mydialogs.MyDailogs"
            android:exported="true" />
        <activity
            android:name=".viewpager.MyViewPage"
            android:exported="true" />
        <activity
            android:name=".recycleview.MyEmpData"
            android:exported="true" />
        <activity
            android:name=".adapter.simpleadapter.EmpData"
            android:exported="true" />
        <activity
            android:name=".adapter.arrayadapter.ListView"
            android:exported="true" />
        <activity
            android:name=".adapter.ArrayAdapter"
            android:exported="true" />
        <activity
            android:name=".seekbar.MySeekbar"
            android:exported="true" />
        <activity
            android:name=".radiobuttoncolor.RadioButton"
            android:exported="true" />
        <activity
            android:name=".textsizechange.TextSizeChange"
            android:exported="true" />
        <activity
            android:name=".buttonclickbgchange.BackgroundChange"
            android:exported="true" />
        <activity
            android:name=".textviewhideonradiobutton.TextViewActivity"
            android:exported="true" />
        <activity
            android:name=".loginregfragment.FirstActvity"
            android:exported="true" />
        <activity
            android:name=".addsubmuldiv.RadioActivity"
            android:exported="true" />
        <activity
            android:name=".number_range.ShowNumbers"
            android:exported="false" />
        <activity
            android:name=".number_range.TakeNumbers"
            android:exported="true" />
        <activity
            android:name=".reversenumber.ReverseNumber"
            android:exported="true" />
        <activity
            android:name=".objectpassfragment.ObjectActivity"
            android:exported="true" />
        <activity
            android:name=".fragmentpass.loginandregister.MyLogin"
            android:exported="true" />
        <activity
            android:name=".fragmentpass.splashfrag.SplashFragment"
            android:exported="true" />
        <activity
            android:name=".fragmentpass.MainFrag"
            android:exported="true" />
        <activity
            android:name=".callsmsemailintent.CallSmsEmail"
            android:exported="true" />
        <activity
            android:name=".objectpassactvity.ObjectOutput"
            android:exported="false" />
        <activity
            android:name=".objectpassactvity.ObjectTake"
            android:exported="true" />
        <activity
            android:name=".sumoftwo.NumeberOuput"
            android:exported="false" />
        <activity
            android:name=".sumoftwo.NumberTaken"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true" />
        <activity
            android:name=".activity_switch.SecondActivity"
            android:exported="false" />
        <activity
            android:name=".activity_switch.FirstActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>